@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

:root {
    --animate-duration: 2s;
    --animate-delay: 2s;
  }

  .form-control:focus {
      box-shadow: none;
  }

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

p {
    margin-bottom: 0;
}


body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background-color: #fafafa;
}

hr {
    margin-block-start: 0;
    margin-block-end: 0;
}

section.welcome hr.left-line {
    position: absolute;
    top: 0;
    left: 12%;
    width: .3px;
    height: 100%;
    background-color: #FAFAFF;;
    opacity: .3;
}

section.welcome hr.right-line {
    position: absolute;
    top: 0;
    right: 12%;
    width: .3px;
    height: 100%;
    background-color: #FAFAFF;
    opacity: .3;
}

section.welcome hr.rotated-line:nth-child(1) {
    position: absolute;
    top: -5%;
    right: 6.2%;
    width: .6px;
    height: 110%;
    background-color: #FAFAFF;
    opacity: .3;
    transform: rotate(-12deg);
}

section.welcome hr.rotated-line:nth-child(2) {
    position: absolute;
    top: -5%;
    left: 6.2%;
    width: .6px;
    height: 110%;
    background-color: #FAFAFF;
    opacity: .3;
    transform: rotate(-12deg);
}



section.welcome .central-line {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: .6px;
    height: 100%;
    background-color: #FAFAFF;
    opacity: .3;
}

section.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    padding: 30px 0;
    background: linear-gradient(180deg, #7F2DE5 16%, #5873E0 40%, #4398DF 57%, #3DA2DF 60%, #1AE1D9 85%);
    /* background-image: url('../img/gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; */
    padding: 30px 0;
    position: relative;
}

section.welcome .wrapper {
    width: 100%;
    height: auto;
    margin: 0 12%;
    padding: 20px 0;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}


section.welcome::before {
    position: absolute;
    content: '';
    top: 10%;
    left: 0;
    display: block;
    width: 100%;
    height: 0.1px;
    background-color: #FAFAFF;
    opacity: .3;
}

section.welcome::after {
    position: absolute;
    content: '';
    top: 90%;
    left: 0;
    display: block;
    width: 100%;
    height: 0.1px;
    background-color: #FAFAFF;
    opacity: .3;
}

.video-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.video-bg > video {
    width: 100%; 
    height: auto;
    object-fit: cover;
    opacity: .9;
}


.video-txt {
    margin-top: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.video-txt h1 {
    width: 100%;
    max-width: 290px;
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FAFAFF;
}

.video-txt h3 {
    width: 100%;
    max-width: 290px;
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FAFAFF;
    margin-top: 45px;
}

.video-txt button {
    width: 240px;
    background: linear-gradient(125.75deg, rgba(250, 250, 255, 0.2) -8.96%, rgba(252, 250, 255, 0.1) 67.71%);
    box-shadow: 0px 8px 8px rgba(127, 45, 229, 0.04);
    backdrop-filter: blur(4px);
    border-radius: 28px;
    padding: 14px 0px;
    margin-top:54px;

    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 28px; */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FAFAFF;
}



/* section experience */

section.experience {
    width: 100%;
    height: 100%;
    /* max-height: 100vh; */
    background-color: #fff;
    position: relative;
}

section.experience  .central-line {
    position: absolute;
    top: 10%;
    left: 50%;
    right: 50%;
    width: 7px;
    height: 80%;
    opacity: 1;
    background: linear-gradient(360deg, #7F2DE5 0%, #1AE1D9 100%);
    overflow: hidden;

}

section.experience hr.top-line {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #3C4F76;;
    opacity: .3;
}

section.experience hr.bottom-line {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #3C4F76;;
    opacity: .3;
}

section.experience::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12%;
    width: .1px;
    height: 100%;
    background-color: #3C4F76;;
    opacity: .3;
}

section.experience::after {
    content: '';
    position: absolute;
    top: 0;
    right: 12%;
    width: .1px;
    height: 100%;
    background-color: #3C4F76;
    opacity: .3;
}

.experience-header {
    width: 140px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-header img {
    width: 80px;
    height: 44px;
}

.experience-main-text {
    padding: 70px 77px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
}

.experience-main-text h2 {
    width: 100%;
    max-width: 366px;
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* blacks / black 100 */

    color: #3C4F76;
}

.experience-text {
    padding: 70px 77px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.experience-text p {
    max-width: 320px;
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    /* blacks / black 100 */
    color: #3C4F76;
    margin-bottom: 40px;
}




/* pack-backg */

section.pack-backg { 
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(80deg, #7F2DE5 10%, #1AE1D9 100%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section.pack-backg .row {
    width: 100%;
    position: relative;
    display: flex;
    white-space: nowrap;
}

section.pack-backg .row img {
    user-select: none;
}


section.pack-backg .row:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    top: -26%;
    left: -89%;
    animation: animate 60s linear infinite;
    animation-delay: -30s;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

section.pack-backg .row:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    top: 18%;
    left: -110%;
    animation: animate2 60s linear infinite;
    animation-delay: -30s;
}

@keyframes animate2 {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

section.pack-backg .row:nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    top: 60%;
    left: -89%;
    animation: animate2 60s linear infinite;
    animation-delay: -30s;
}

@keyframes animate2 {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


section.pack-backg img.pack {
    width: 200px;
    height: auto;
    margin-left: 80px;
    margin-right: 80px;

}

section.pack-backg img.logo {
    width: 200px;
    height: auto;
}

/* section new started */

section.new {
    width: 100%;
    height: 100%;
    /* max-height: 100vh; */
    background-color: #fff;
    position: relative;
}

section.new .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

section.new  .central-line {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: .5px;
    height: 100%;
    opacity: .3;
    background: #3C4F76;

}

section.new hr.top-line {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #3C4F76;;
    opacity: .3;
}

section.new hr.bottom-line {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #3C4F76;;
    opacity: .3;
}

section.new::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12%;
    width: .1px;
    height: 100%;
    background-color: #3C4F76;;
    opacity: .3;
}

section.new::after {
    content: '';
    position: absolute;
    top: 0;
    right: 12%;
    width: .1px;
    height: 100%;
    background-color: #3C4F76;
    opacity: .3;
}

.new-header {
    width: 140px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.new-header img {
    width: 80px;
    height: 44px;
}

section.new .new-main-text {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 48px;
    text-align: center;
}

section.new .new-main-text h3 {
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* blacks / black 100 */
    color: #3C4F76;
}

section.new .new-text {
    display: flex;
    align-items: center;
    margin-bottom: 98px;
}

section.new .new-text p {
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* blacks / black 100 */
    color: #3C4F76;
    margin: 0 20px;
}

section.new .new-text .line {
    width: 280px;
    height: 2px;
    background: linear-gradient(90deg, #1AE1D9 0%, #7F2DE5 100%);
}

/* community */

section.community {
    width: 100%;
    height: 100%;
    position: relative;  
    padding-top: 80px;
    padding-bottom: 80px;  
    }

    section.community .left-side {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-blend-mode: multiply;
        background-image: url(../img/Rectangle.png);
        background-color: linear-gradient(68.66deg, rgba(127,45,229, 10%) 0%, #1AE1D9 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section.community .right-side {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-image: url(../img/pattern.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section.community .center-rect {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        width: 100%;
        min-height: 552px;
        background: linear-gradient(68.66deg, rgba(127, 45, 229, 0.9) 0%, rgba(26, 225, 217, 0.9) 100%);
        backdrop-filter: blur(8px);
    }

    section.community .center-rect .wrapper {
        display: flex;
        flex-flow: row nowrap;
        padding: 67px 80px;
        
    }

    section.community .center-rect .wrapper div:nth-of-type(1) {
        width: 100%;
        max-width: 320px;
    }

    section.community .center-rect .wrapper div:nth-of-type(1) h3 {
        font-family: 'Branding SF', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        /* or 120% */

        letter-spacing: 0.02em;
        text-transform: uppercase;

        /* whites / white 100 */

        color: #FAFAFF;
    }

    section.community > .center-rect > .wrapper > div:nth-of-type(2) {
        margin-left: 54px;
    }

    section.community .center-rect .wrapper div:nth-of-type(2) .row  {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 45px;
    }

    section.community .center-rect .wrapper div:nth-of-type(2) .row .left-bl {
        width: auto;
        display: flex;
        flex-direction: row nowrap;
    }

    section.community .center-rect .wrapper div:nth-of-type(2) .row .right-bl {
        width: 100%;
        max-width: 320px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        margin-left: 54px;
    }

    section.community .center-rect .wrapper div:nth-of-type(2) .row .right-bl hr {
        width: 100%;
        height: 1px;
        background: #FAFAFF;
        opacity: 0.3;
    }

    section.community .center-rect .wrapper div:nth-of-type(2) .row .right-bl p {
        width: 100%;
        max-width: 264px;
        font-family: 'Branding SF', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 32px;
        color: #FAFAFF;
        margin-top: auto;
    }

    section.community .center-rect .wrapper div:nth-of-type(2) .row .left-bl h2 {
      font-family: 'Chonburi', cursive;
      font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 80px;
        /* identical to box height, or 100% */

        text-align: center;
        text-transform: uppercase;
        /* color: transparent; */
        color: transparent; /* прозрачный цвет букв */
        -webkit-text-stroke: 1px #fff;
    }


    /* access sector started */

    section.access {
        width: 100%;
        min-height: 100vh;
        height: auto;
        position: relative;
        overflow: auto;
        padding-bottom: 80px;
    }
    
section.access hr.top-line {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #3C4F76;;
    opacity: .3;
}

section.access hr.bottom-line {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #3C4F76;;
    opacity: .3;
}

section.access::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12%;
    width: .1px;
    height: 100%;
    background-color: #3C4F76;;
    opacity: .3;
}

section.access::after {
    content: '';
    position: absolute;
    top: 0;
    right: 12%;
    width: .1px;
    height: 100%;
    background-color: #3C4F76;
    opacity: .3;
}

section.access .access-header {
    width: 140px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.access-header img {
    width: 80px;
    height: 44px;
}

.access-body {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 57px auto 57px;
}

section.access .form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.access-body-top-side h3 {
    font-family: 'Branding SF', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* blacks / black 100 */
    color: #3C4F76;
    }

    .access-body-top-side p {
        font-family: 'Branding SF', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #3C4F76;
        margin-top: 40px;
    }

    .access-body form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }

    .access-body form .form-left-side {
        display: flex;
        flex-direction: column;
    }

    .access-body form .form-left-side label {
        display: flex;
        flex-direction: column;
        margin-bottom: 21px;

        font-family: 'Branding SF', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #3C4F76;
    }

    .access-body form .form-left-side label input {
        width: 360px;
        height: 40px;
        background: #fff;
        margin-top: 11px;
    }

    .access-body form .form-left-side label span {
        display: inline;
        font-weight: 400;
    }

    .access-body form .form-right-side label {
        display: flex;
        flex-direction: column;
        margin-bottom: 21px;

        font-family: 'Branding SF', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #3C4F76;
    }

    .access-body form .form-right-side label textarea {
        width: 360px;
        /* height: 40px; */
        background: #fff;
        margin-top: 11px;
    }